{% extends "base.html" %}

{% load static %}

{% block title %}News Feed{% endblock %}

{% block styles %}
<style>
    /* Additional CSS styles */
    .news-feed {
        list-style-type: none;
        padding: 0;
    }
    /* More styles specific to the news feed page */
</style>
{% endblock %}

{% block content %}
<div class="app-header">
    <h1>News Feed</h1>
</div>
<ul id="news-feed" class="news-feed">
    <!-- News items will be appended here by JavaScript -->
</ul>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    // Correctly ensures that preloadedNewsItems is a JS object from the Django template variable
    var preloadedNewsItems = JSON.parse('{{ news_items|safe }}');
</script>
<script src="{% static 'newsWebSocket.js' %}"></script>
{% endblock %}
